body {
    margin: 0;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}

.text {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    outline:none;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;   
    color: #363636;
    width: 230px;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 33px;
    outline: 0;
    border: 0;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header__logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    font-size: 11px;
    line-height: 15px;
    margin-right: 47px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation__item a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.header__telefon {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
}

.hero {
    background-image: url(../images/hero/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7)   
}

.hero__title {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;    
    color: #FFFFFF;
    max-width: 520px;
}

.colortext {
    color: #E3B873;
}

.hero__text {
    margin-top: 20px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 504px;
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero__button {
    position: relative;
    z-index: 1;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: none;
}

.hero__button:hover {
    background: #E3B873;
    border-color: transparent;
}

.hero__button-one {
    margin-top: 40px;
    padding: 20px 42px;
}

.hero__button-two {
    margin-top: 40px;
    padding: 20px 22px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: none;
}

.projects {
    background: #131313;
    height: 1074px;
}

.projects__items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.projects__items-item {
    padding-top: 99px;
    margin-right: 60px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.projects__items-item:hover {
    color: #E3B873;
    border-bottom: 1px #E3B873 solid ;
}

.projects__image {
    float: right;
    margin-top: 45px;
    width: 679px;
    height: 482px;
}

.projects__title {
    padding-top: 53px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;

}

.projects__text {
    margin-top: 34px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 442px;
}

.projects__media-img {
    display: none;
}

.projects__aside {
    margin-top: 42px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 300px;
}

.col-projects {
    margin-bottom: 34px;
    margin-right: 64px;
}

.col-projects__title {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.col-projects__text {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects__arrow {
    display: flex;
    justify-content: start;
}

.projects__arrow-left {
    margin-right: 30px;
}

.projects__arrow-point {
    margin-right: 18px;
}
.projects__arrow-right {
    transform: scale(-1, 1);
    margin-left: 30px;
}

.control {
    display: flex;
    justify-content: center;
    margin-top: -320px;
}

.control__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #FFFFFF;
}

.control__logo {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.control__image {
    position: relative;
    width: 817px;
    height: 434px;
}

.control__play {
    display: flex;
    justify-content: center;
}

.control__play-image{
    margin-top: -436px;
    z-index: 99;
}

.control_darkened {
    position: relative;
}
   
.control_darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);  
    z-index: 1;
}

.control__dash {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.control__text {
    margin-top: 34px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;   
    color: #363636;
}

.control__input{
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

.control__user{
    margin-right: 80px;
}

.input::placeholder {
    color: #363636;;
  }

.control__button {
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    width: 200px;  
    height: 51px;
}

.control__checkbox{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 163.68%;
  }

.checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 1px;
    background-color: #E3B873;
  }

.checkbox[type="checkbox"]:checked + .checkbox-label::before {
    content: '';
    background-size: 100%;
    background-image: url(../images/correct.svg);
  }

.repair__title {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #181818;
}

.repair__logo {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.repair__body {
    display: flex;
    justify-content: space-between;
}

.col-repair__image {
    position: relative;
    width: 392px;
    height: 421px;
    z-index: -1;
}

.col-repair__text { 
    max-width: 330px;
    margin-top: -124px;
    margin-left: 30px;
    width: 330px;
    height: 293px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.col-repair__title {
    font-size: 18px;
    line-height: 25px;   
    color: #363636;
    padding: 25px 34px 12px;
}

.col-repair-items {
    font-size: 13px;
    line-height: 27px;  
    color: #959595;
}

.col-repair__price {
    margin-top: -28px;
    position: relative;
    width: 228px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 30px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 15px;
    outline: 0;
    border: 0;
}

.request {
    display: flex;
    margin-top: 124px;
}

.request__list {
    background-image: url(../images/request/house.jpg);
    width: 702px;
    height: 645px;
}

.item-request{
    display: flex;
    justify-content: right;
    margin-left: 250px ;
    margin-top: 102px;
}

.item-request__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;  
    width: 41px; 
    height: 41px;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.item-request__text {
    font-size: 14px;
    line-height: 19px;    
    color: #363636;
    margin: 0;
    display: flex;
    align-items: center
}

.form-request {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin: 0;
    width: 506px;
    height: 509px;
    margin-left: 80px;
    margin-top: 106px;
}

.form-request__title {
    margin-top: 28px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;   
    color: #FFFFFF;
    margin-bottom: 39px;
}

.form-request__input {
    color: #FFFFFF;
    background-color: #131313;
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 49px;
    margin-bottom: 48px;
}

.form-request__lable {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
}

.form-request__input::placeholder {
    color: #FFFFFF;
  }

.form-request__checkbox{
    margin-left: 58px;
    margin-top: -33px;
  }

.white {
    padding-left: 0;
    color: #FFFFFF;
  }

.form-request__button {
    font-size: 13px;
    line-height: 21px; 
    padding: 18px 34px;
    margin-top: 39px;
    margin-left: 244px;
}

.request-pig {
    display: flex;
    margin-left: 756px;  
    align-items: center  
}

.request-pig__image {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
    padding: 16px;
    width: 73px;
    height: 73px;
}

.request-pig__text {
    margin-left: 10px;
    font-size: 18px;
    line-height: 26px;    
    color: #E3B873;   
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies {
    height: 884px;
    background-image: url(../images/fantasies/image\ 5.1.jpg);
    background-size: cover;
    position: relative;
    margin-top: 242px;
}

.image_darkened_two {
    position: relative;
}
   
.image_darkened_two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);  
    z-index: 1;
}

.fantasies__body {
    display: flex;
}

.fantasies__content {
    position: absolute;
    z-index: 33;
}

.fantasies__title {
    padding-top: 137px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;    
    color: #E3B873;
}

.fantasies__item {
    margin-left: -40px;
    padding-top: 15px;
    font-size: 20px;
    line-height: 38px;  
    color: #FFFFFF;
}

.fantasies__item:hover {
    width: 180px;
    color: #E3B873;
    border-bottom: 1px #E3B873 solid;
}

.fantasies__list {
    list-style: none; 
}


.fantasies__block-one {
    margin-left: 510px;
    z-index: 33;
}

.fantasies__block-two {
    margin-left: 40px;
    z-index: 33;
}

.block-one__image {
    margin-top: -41px;
    padding-bottom: 40px;
}

.block-two__image {
    margin-top: -112px;
    padding-bottom: 40px;
}

.fantasies-media {
    display: none;
}

.clients {
    margin-top: 69px;
}

.clients__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #181818;
}

.clients__logo {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.clients__text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #181818;
}

.our-clients{
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}

.our-clients__title {
    display: inline-flex;
}

.our-clients__name {
    margin-left: 23px;
    font-size: 18px;
    line-height: 23px;   
    color: #181818;
    display: flex;
    align-items: center;
}

.our-clients__face {
    margin-left: 20px;
}

.our-clients__text {
    margin-top: 22px;
    margin-left: 20px;
    max-width: 324px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.meta {
    margin-top: 63px;
    display: inline-flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    padding: 0px 17px;
}

.meta__text {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 17px;
    line-height: 24px;   
    color: #FFFFFF;
}

.meta__line {
    border-left: 0.75px solid #FFFFFF;
    height: 54px;
    margin-left: 14px;
    margin-right: 17px;
}

.questions{
    display: flex;
    justify-content: center;
    background-image: url(../images/questions/house_1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 92px;
}

.questions__form {
    margin-top: 50px;
    width: 883px;
    height: 445px;
    background-color: #181818;
    display: inline-block;
}

.questions__title {
    margin-top: 34px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;
}

.questions__content {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    flex-wrap: wrap;
}

.questions__input {
    width: 231px;
}

.questions__input-question {
    width: 516px;
}

.questions__checkbox {
    display: flex;
    justify-content: center;
}

.questions__button {
    margin-top: 50px;
    margin-left: 40%;
    padding: 10px 70px;
    font-size: 13px;
    line-height: 27px; 
}

.image_darkened_three {
    position: relative;
}
   
.image_darkened_three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);  
    z-index: -1;
}

.address {
    margin-top: -220px;
    background-image: url(../images/address/city.jpg);
    height: 954px;
    z-index: -2;
}

.media__map {
    display: none;
}

.address__title {
    display: flex;
    justify-content: center;
    padding-top: 280px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #E3B873;
}

.address__links {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.address__img {
    margin-right: 15px;
    padding: 6px;
    background: #E3B873;
    width: 28px;
    height: 28px;
    border-radius: 50%
}

.address__map {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.footer {
    height: 133px;
}

@media screen and (max-width: 1300px) {
    .none {
      display: none;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 375px;
    }

    .header__telefon {
        color: #FFFFFF;
        text-decoration-line: none;
        margin-right: 0;
    }

    .hero {
        display: flex;
        justify-content: center;
        text-align: left;
        padding-top: 80px;
        height: 476px;
    }

    .hero__title {
        font-size: 23px;
        line-height: 31px;
        max-width: 339px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 19px;
    }

    .hero__button {
        margin-right: 0;
    }

    .hero__button-one {
        padding: 19px 100px;
    }

    .hero__button-two {
        padding: 19px 122px ;
    }

    .projects {
        display: flex;
        justify-content: center;
    }

    .projects__title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    .projects__text {
        max-width: none;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }

    .projects__media-img {
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }

    .media-img__image {
        margin-top: 70px;
        position: absolute;
    }

    .media-img__arrow_left {
        margin-right: 250px;
    }

    .media-img__arrow {
        margin-top: 170px;
        background: #E3B873;
        border-radius: 50%;
        padding: 13px;
        width: 40px;
        height: 40px;
        z-index: 1;
    }

    .projects__media-aside {
        display: flex;
        justify-content: center;
    }

    .projects__aside {
        margin-top: 150px;
        max-height: 250px;
    }

    .col-projects {
        margin-right: 104px;
        margin-left: -50px;
    }

    .col-projects__title {
        font-size: 14px;
        line-height: 19px;
    }

    .col-projects__text {
        padding-top: 15px;
        font-size: 11px;
        line-height: 15px;
    }

    .control {
        background-color: #131313;
        margin-top: -250px;
        height: 865px;
    }

    .control__title {
        font-size: 22px;
        line-height: 30px;
    }

    .control_darkened {
        margin-top: -100px;
        display: flex;
        justify-content: center;
    }

    .control__image {
        transform:  scale(0.43);
    }

    .control_darkened::before {
        display: none;
        z-index: -1;
    }

    .control__play-image {
        transform:  scale(0.63)
    }

    .control__dash {
        margin-top: -100px;
    }

    .control__media-text {
        display: flex;
        justify-content: center;
    }

    .control__text { 
        max-width: 340px;
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .control__input {
        display: block;
        margin-top: 0;
    }

    .media {
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }

    .label {
        font-size: 13px;
        line-height: 21px;       
        color: rgba(255, 255, 255, 0.5);
    }

    .input {
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        background-color: #131313;
        width: 320px;
    }

    .input::placeholder {
        color: #FFFFFF;
      }

    .control__user {
        margin: 0;
    }

    .control__button {
        margin-left: 0;
        margin-top: 80px;
        width: 340px;
        font-size: 13px;
        line-height: 27px;
    }

    .checkbox-label {
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }

    .control__checkbox {
        margin-top: -100px;
    }

    .repair {
        display: flex;
        justify-content: center;
    }

    .repair__body {
        display: block;
    }

    .col-repair-items {
        line-height: 22px;
    }

    .col-repair__image {
        transform:  scale(0.83);
        margin-left: -20px;
    }

    .col-repair__text {
        max-width: 270px;
    }

    .col-repair__price {
        font-size: 15px;
        line-height: 21px;
    }

    .fantasies-media {
        display: block;
        margin-top: 66px;
    }

    .fantasies-media__title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }

    .questions {
        background: #181818;
        margin-top: -30px;
    }

    .questions__form {
        width: auto;
        height: auto;
    }

    .questions__title {
        margin-top: 130px;
    }

    .form-request__lable {
        margin-left: 20px;
    }

    .questions__input {
        margin-left: 20px;
    }

    .questions__input-question {
        margin-left: 20px;
    }

    .questions__button {
        margin-left: 10px;
        padding: 10px 140px;
    }

    .media__map {
        display: flex;
        justify-content: center;
        padding-top: 300px;
    }

    .address {
        display: flex;
        justify-content: center;
        background: #131313 ;
        height: 100%;
    }

    .address__media {
        display: block;

    }

    .address__title {
        padding-top: 30px;
    }

    .address__links {
        padding-bottom: 50px;
    }

    @media screen and (min-width: 768px){
        .container {
            margin-left: 20px;
            margin-right: 20px;
            max-width: 768px;
        }

        .projects__text {
            max-width: 442px;
        }

        .questions__content {
            max-width: 520px;
        }

        .questions__button {
            margin-left: 100px;
        }

        @media screen and (min-width: 1024px){
            .container {
                max-width: 1024px;
            }
        }
    }
}