body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 33px;
    outline: 0;
    border: 0;
    font-size: 11px;
    line-height: 15px;
}

.telefon {
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #E3B873;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation__item a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7)   
}

.title_1 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;    
    color: #FFFFFF;
}

.colortext {
    color: #E3B873;
}

.text_1 {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 504px;
    ;
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero__button {
    position: relative;
    z-index: 1;
    margin-right: 20px;
}

.hero__button_one {
    padding: 20px 42px;
    background: #E3B873;
}

.hero__button_two {
    padding: 20px 22px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: none;
}

.content {
    background: #131313;
    height: 1074px;
}

.title_2 {
    margin: 0;
    padding-top: 53px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    max-width: 253px;
}

.text_2 {
    margin-top: 34px;
    margin-right: 50px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 442px;
}

.content-items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.content-items__item {
    padding-top: 99px;
    margin-right: 60px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.content-items__item:first-child {
    color: #E3B873;
    border-bottom: 1px #E3B873 solid ;
}
.content-aside {
    margin-top: 42px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 300px;
}

.content-aside_content {
    margin-bottom: 34px;
    margin-right: 54px;
}

.content-aside__title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.content-aside__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.arrow {
    display: flex;
    justify-content: start;
}

.arrow__left {
    margin-right: 30px;
}

.arrow__point {
    margin-right: 18px;
}
.arrow__right {
    transform: scale(-1, 1);
    margin-left: 30px;
}

.content-image {
    float: right;
    margin-top: 45px;
    width: 679px;
    height: 482px;
}

.content_2 {
    display: flex;
    justify-content: center;
    margin-top: -320px;
}

.content_2__title {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #FFFFFF;
}

.content_2__logo {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.content_2__image {
    position: relative;
    width: 817px;
    height: 434px;
}

.content_2__play {
    display: flex;
    justify-content: center;
}

.content_2__play-image{
    margin-top: -436px;
    z-index: 99;
}

.image_darkened {
    position: relative;
}
   
.image_darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);  
    z-index: 1;
}

.content_2__dash {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.content_2__text {
    margin: 0;
    margin-top: 34px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;   
    color: #363636;
}

.content_2-input{
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

.content_2-input-sidebar{
    margin-right: 80px;
}

.input__input {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    outline:none;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;   
    color: #363636;
    width: 230px;
}

.input::placeholder {
    color: #363636;;
  }

.content_2-input__button {
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    width: 200px;  
    height: 51px;
}

.content_2__checkbox{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35px;
}

input[type="checkbox"] {
    display: none;
}

.content_2__label {
    padding-left: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
  }

.content_2__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 1px;
    background-color: #E3B873;
  }

.content_2__checkbox__inpyt[type="checkbox"]:checked + .content_2__label::before {
    content: '';
    background-size: 100%;
    background-image: url(../images/correct.svg);
  }

.content_3__title {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 75px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #181818;
}

.content_3-body {
    display: flex;
    justify-content: space-between;
}

.content_3__logo {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.content_3-body__image {
    position: relative;
    width: 392px;
    height: 421px;
    z-index: -1;
}

.content_3-body__text { 
    max-width: 330px;
    margin-top: -124px;
    margin-left: 30px;
    width: 330px;
    height: 286px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.content_3-body__text_title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;   
    color: #363636;
    margin: 0;
    padding: 25px 34px 12px;
}

.content_3-body__text_aside {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;  
    color: #959595;
}

.content_3-body_price {
    position: relative;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;   
    color: #FFFFFF;
    padding: 17px 21px;
    margin-left: 30px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.content_4 {
    display: flex;
    margin-top: 124px;
}

.content_4__list {
    background-image: url(../images/house.jpg);
    width: 702px;
    height: 645px;
}

.content_4__list_item{
    display: flex;
    justify-content: right;
    margin-left: 250px ;
    margin-top: 102px;
}

.content_4__list_item_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;  
    width: 41px; 
    height: 41px;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.content_4__list_item_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;    
    color: #363636;
    margin: 0;
    display: flex;
    align-items: center
}

.content_4__form {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin: 0;
    width: 506px;
    height: 509px;
    margin-left: 131px;
    margin-top: 106px;
}

.content_4__form_title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;   
    color: #FFFFFF;
    margin-bottom: 39px;
}

.content_4__input {
    color: #FFFFFF;
    background-color: #131313;
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 49px;
    margin-bottom: 48px;
}

.content_4__input__input {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
}

.content_4__input::placeholder {
    color: #FFFFFF;
  }

  .content_4__checkbox{
    margin-left: 58px;
    margin-top: -33px;
  }

.content_4__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
  }

.content_4__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 1px;
    background-color: #E3B873;
  }

.content_4__checkbox__inpyt[type="checkbox"]:checked + .content_4__label::before {
    content: '';
    background-size: 100%;
    background-image: url(../images/correct.svg);
}

.content_4__button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;   
    color: #FFFFFF;
    padding: 18px 44px;
    margin-top: 39px;
    margin-left: 244px;
}

.content_4-pig {
    display: flex;
    margin-left: 756px;  
    align-items: center  
}

.content_4-pig__image {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
    padding: 16px;
}

.content_4-pig__text {
    margin-left: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;    
    color: #E3B873;   
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section_5 {
    height: 884px;
    background-image: url(../images/image\ 5.1.jpg);
    background-size: cover;
    position: relative;
    margin-top: 242px;
    z-index: -99;
}

.image_darkened_two {
    position: relative;
}
   
.image_darkened_two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);  
    z-index: -1;
}

.content_5 {
    display: flex;
}

.content_5_content {
    position: absolute;
}

.content_5_content__title {
    padding-top: 137px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;    
    color: #E3B873;
}

.content_5_content__item {
    margin-left: -40px;
    padding-top: 13px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;  
    color: #FFFFFF;
}

.content_5_content__item:first-child {
    padding-top: 47px;
    color: #E3B873;
    border-bottom: 1px #E3B873 solid;
}

.content_5_content__list {
    list-style: none; 
}

.content_5_image-block_one {
    margin-left: 510px;
}

.content_5_image-block_two {
    margin-left: 40px;
}

.content_5_image-block_one_image {
    margin-top: -41px;
    padding-bottom: 40px;
}

.content_5_image-block_two_image {
    margin-top: -112px;
    padding-bottom: 40px;
}

.content_6_header {
    margin-top: 69px;
}

.content_6_header__title {
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #181818;
}

.content_6_header_header__logo {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.content_6_header__text {
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;   
    color: #181818;
}

.content_6_body{
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}

.content_6_body__title{
    display: inline-flex;
}

.content_6_body_name{
    margin-left: 23px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;   
    color: #181818;
    display: flex;
    align-items: center;
}

.content_6_body_text {
    margin-left: 20px;
    max-width: 324px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.content_6_body_meta {
    margin-top: 63px;
    display: inline-flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    padding: 0px 17px;
}

.content_6_body_meta__text {
    margin-left: 15px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;   
    color: #FFFFFF;
}

.content_6_body_meta__line {
    border-left: 0.75px solid #FFFFFF;
    height: 54px;
    margin-left: 14px;
    margin-right: 17px;
}